$breakpoint-tablet: 768px;

@mixin mobile {
  @media (max-width: #{$breakpoint-tablet}){
    @content;
  }
}

.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  max-height: 350px;
  min-height: 200px;
  min-width: 150px;
  align-items: center;
  padding-top: 25px;
  padding-right: 2px;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
      font-weight: lighter;
    }

    .price {
      width: 10%;
      padding-right: 15px;
      font-weight: lighter;
    }

    @include mobile {
      .name, .price{
        font-size: 12px;
      }
    }
  }
}
